<div class="menu-header">
    <a href="">Mitt CV</a>

    <button @onclick="ToggleNavMenu">
        ☰ Meny
    </button>
</div>

<div class="@NavMenuCssClass">
    <nav>
        <NavLink href="" Match="NavLinkMatch.All">
            Start
        </NavLink>

    </nav>
</div>

@code {
    // Denna kod sköter logiken för att öppna/stänga menyn.
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}