.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: #ffcccc;
    padding: 1rem;
}


/* Egen design */
.layout-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.body {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    overflow-y: auto; 
    background-color: #E3E8FF;
}

/* Meny */
.menu-container {
    width: 25%;
    height: 100vh;
    padding: 20px 0 40px 0;
    background-color: #17639F;
    color: white;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    white-space: nowrap;
    transition: width 0.5s ease, padding 0.5s ease;
}

    /* När menyn är stängd */
    .menu-container.closed {
        width: 0 !important;
        padding: 0 !important;
        min-width: 0;
    }

.menu-icon {
    width: 50px;
    height: 50px;
    background-color: #17639F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-position {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 3px solid;
    border-color: #fff;
}

.info-position {
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
}

.menu-container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}

#name {
    font-style: normal;
}

.menu-container h2 {
    padding-left: 20%;
    margin-bottom: 4%;
    font-size: 1.8rem;
    font-weight: 500;
}

.skill-background {
    width: 65%;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 50px;
}

.skill-bar {
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
}

#skill-java {
    width: 90%;
}

#skill-csharp {
    width: 80%;
}

#skill-aspnet {
    width: 60%;
}

#skill-javascript {
    width: 60%;
}

#skill-html {
    width: 90%;
}

#skill-css {
    width: 80%;
}

/* Education */
.education-header {
    color: #17639F;
    font-size: 3rem;
    margin: 5% 0 0 7%;
}

.education-container {
    width: 100%;
    height: auto;
    padding-left: 6%;
    display: flex;
    flex-wrap: wrap;
}

.education-items {
    width: 40%;
    height: auto;
    margin: 6% 6% 0 0;
    background-color: #17639F;
    border-radius: 20px;
}

.education-content {
    width: 90%;
    padding: 5%;
    color: white;
}

.education-content h2 {
    font-size: 1.5rem;
}

.education-content h3 {
    font-size: 1.1rem;
}

.education-content p {
    padding-top: 3%;
    font-size: 1rem;
    font-weight: 300;
}

/* Education - Full Screen */
.education-header-full {
    color: #17639F;
    font-size: 3rem;
    margin: 5% 0 0 4%;
}

.education-container-full {
    width: 100%;
    height: auto;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
}

.education-items-full {
    width: 30%;
    height: auto;
    margin: 5% 3% 0 0;
    background-color: #17639F;
    border-radius: 20px;
}

/* Ipads - Medium */
@media screen and (min-width: 600px) and (max-width: 1024px){
    /* Meny */
    .menu-container {
        width: 100%;
        padding-right: 10px;
    }

    .menu-container p {
        font-size: 2.5rem;
    }

    .menu-container h2 {
        padding-left: 19%;
        margin: 4% 0 2% 0;
        font-size: 3rem;
    }

    .skill-background {
        height: 50px;
    }

    .skill-bar {
        height: 50px;
    }

    /* Education - Full Screen */
    .education-header-full {
        margin: 5% 0 0 5%;
    }

    .education-container-full {
        padding-left: 4%;
    }

    .education-items-full {
        width: 44%;
        height: auto;
        margin: 5% 4% 0 0;
    }
}

/* Small screen */
@media screen and (max-width: 600px) {
    /* Meny */
    .menu-container {
        width: 100%;
        padding-right: 10px;
    }

    .menu-container p {
        font-size: 1.2rem;
    }

    .menu-container h2 {
        margin: 6% 0 2% 0;
        font-size: 1.5rem;
    }

    .skill-background {
        height: 30px;
    }

    .skill-bar {
        height: 30px;
    }

    /* Education - Full Screen */
    .education-header-full {
        font-size: 2.5rem;
        margin-top: 5%;
        text-align: center;
    }

    .education-container-full {
        padding-left: 0%;
    }

    .education-items-full {
        width: 88%;
        margin: 7% 6%;
    }
}